.idea/
target/
.DS_Store
crowdin.yaml
src/main/resources/node_modules/
src/main/resources/images/common/.directory
src/main/resources/images/opening/.directory
src/main/resources/images/app_icon/.directory
nwjs*
packaging/linux/releases
packaging/linux/temp
project/project/
