<div class="fullsize-flex" ng-controller="SendIndexController as ctrl">
    <div class="wallet-view" ng-hide="ctrl.isScanning">
        <section>
            <header>
                <h1>send ether</h1>
            </header>
            <div class="form">
                <div>
                    <div>Amount</div>
                    <div>
                        <input id="amount_input"
                               type="text"
                               placeholder="Amount"
                               class="large-text-input"
                               ng-pattern="/^[0-9]+[\.,]?[0-9]*$/"
                               ng-model="ctrl.amount"
                               ng-change="ctrl.computeTotal()" />
                        <label class="large-text-input">ETH</label>
                    </div>
                </div>
                <div>
                    <div>recipient address</div>
                    <div>
                        <input id="receiver_input"
                               placeholder="Ethereum account"
                               class="text-input"
                               type="text"
                               ng-model="ctrl.address"/>
                    </div>
                </div>
                <div>
                    <div class="optional">gas price</div>
                    <div><amount value="ctrl.gasPrice"></amount></div>
                </div>
                <div>
                    <div class="optional">gas limit</div>
                    <div><div class="regular-grey-text-small">{{ctrl.gasLimit}}</div></div>
                </div>
                <div>
                    <div class="optional">total spent</div>
                    <div><div class="regular-grey-text-small"><amount value="ctrl.total"></amount> (incl. gas)</div></div>
                </div>
            </div>
        </section>
        <div class="spacer"></div>
        <actions-bottom-bar>
            <lbutton text="scan qr code" type="cancel" disabled="false" ng-click="ctrl.scanQrCode()"></lbutton>
            <lbutton text="send" type="validate" disabled="false" ng-click="ctrl.send()"></lbutton>
        </actions-bottom-bar>
    </div>
    <div class="wallet-view" ng-hide="!ctrl.isScanning">
        <section class="fullsize centered-content no-top-margin" ng-hide="ctrl.isInProgressionMode">
            <header>
                <h1>scan qr code</h1>
            </header>
            <div>
                <qrcodescanner></qrcodescanner>
                <div class="small-top-margin regular-grey-text-small centered-text regular-line-height">
                    Place the QR code in the center of the image
                </div>
            </div>
        </section>
        <actions-bottom-bar>
            <lbutton text="cancel" type="cancel" disabled="false" ng-click="ctrl.cancelScanQrCode()"></lbutton>
        </actions-bottom-bar>
    </div>
</div>