<div class="fullsize-flex" ng-controller="SendIndexController as ctrl">
    <div class="wallet-view" ng-hide="ctrl.isScanning">
        <section>
            <header>
                <h1 translate>send.page_title</h1>
            </header>
            <div class="form">
                <div id="amount_line">
                    <div translate>wallet.amount</div>
                    <div id="amount_field">
                        <input id="amount_input"
                               type="text"
                               placeholder="{{'send.amount_placeholder' | translate}}"
                               class="large-text-input"
                               ng-pattern="/^[0-9]+[\.,]?[0-9]*$/"
                               ng-model="ctrl.amount"
                               ng-change="ctrl.computeTotal()" />
                        <label class="large-text-input">{{ctrl.unit}}</label>
                        <lbutton text="{{'send.max' | translate}}" type="cancel" disabled="false" ng-click="ctrl.max()" small="true"></lbutton>
                    </div>
                </div>
                <div>
                    <div translate>send.recipient</div>
                    <div>
                        <input id="receiver_input"
                               placeholder="{{'send.recipient_placeholder' | translate}}"
                               class="small-text-input"
                               type="text"
                               ng-model="ctrl.address"/>
                    </div>
                </div>
                <div ng-show="ctrl.isInAdvancedMode" >
                    <div translate>send.gas_limit</div>
                    <div>
                        <input
                               style="text-transform: capitalize"
                               placeholder="{{'send.gas_limit' | translate}}"
                               class="small-text-input"
                               type="text"
                               ng-pattern="/^[0-9]+$/"
                               ng-change="ctrl.computeTotal()"
                               ng-model="ctrl.customGasLimit"/>
                        <label class="small-text-input" translate>send.gas</label>
                    </div>
                </div>
                <div ng-show="ctrl.isInAdvancedMode" >
                    <div translate>send.contract_data</div>
                    <div>
                        <input
                               placeholder="{{'send.contract_data_hex' | translate}}"
                               class="small-text-input"
                               type="text"
                               ng-pattern="/^(0x)?[0-9A-Fa-f]+$/"
                               ng-model="ctrl.data"/>
                    </div>
                </div>
                <div ng-show="!ctrl.isInAdvancedMode" >
                    <div class="optional" translate>send.gas_limit</div>
                    <div><div class="regular-grey-text-small">{{ctrl.gasLimit.toString()}} gas</div></div>
                </div>
                <div>
                    <div class="optional" translate>send.gas_price</div>
                    <div><amount value="ctrl.gasPrice"></amount></div>
                </div>
                <div>
                    <div class="optional" translate>send.total_spent</div>
                    <div><div class="regular-grey-text-small"><amount value="ctrl.total"></amount> <span translate>send.including_gas</span></div></div>
                </div>
            </div>
        </section>
        <div class="spacer"></div>
        <actions-bottom-bar style="padding-left: 0; padding-right: 0;">
            <a class="uppercase-action" ng-click="ctrl.isInAdvancedMode = true" ng-show="!ctrl.isInAdvancedMode && ctrl.supportAdvancedMode" translate>send.advanced_mode</a>
            <a class="uppercase-action" style="margin-left: 0;" ng-click="ctrl.isInAdvancedMode = false" ng-show="ctrl.isInAdvancedMode && ctrl.supportAdvancedMode" translate>send.standard_mode</a>
            <div class="spacer" ng-show="ctrl.supportAdvancedMode"></div>
            <lbutton icon="camera" type="cancel" disabled="false" ng-click="ctrl.scanQrCode()"></lbutton>
            <lbutton text="{{'send.send' | translate}}" type="validate" disabled="false" ng-click="ctrl.send()"></lbutton>
        </actions-bottom-bar>
    </div>
    <div class="wallet-view" ng-hide="!ctrl.isScanning">
        <section class="fullsize centered-content no-top-margin" ng-hide="ctrl.isInProgressionMode">
            <header>
                <h1 translate>send.scan_qr_code</h1>
            </header>
            <div>
                <qrcodescanner></qrcodescanner>
                <div class="small-top-margin regular-grey-text-small centered-text regular-line-height" translate>
                    send.place_qr_code
                </div>
            </div>
        </section>
        <actions-bottom-bar>
            <lbutton text="{{'common.cancel' | translate}}" type="cancel" disabled="false" ng-click="ctrl.cancelScanQrCode()"></lbutton>
        </actions-bottom-bar>
    </div>
</div>