<div class="wallet-view" ng-controller="SendPerformController as ctrl">
    <section class="fullsize centered-content no-top-margin">
        <header>
            <h1 translate>send_perform.page_title</h1>
        </header>
        <div>
            <img src="images/send/ic_exchange.png"/>
            <div class="almost-medium-top-margin regular-text" translate>send_perform.confirm_transaction</div>
            <div class="almost-small-top-margin regular-grey-text-small centered-text" translate>
                send_perform.review_1
            </div>
            <div class="almost-small-top-margin regular-grey-text-small centered-text" translate>
                send_perform.review_2
            </div>
        </div>
        <div class="stick-to-bottom regular-soft-grey-text-small" translate>
            send_perform.bottom_text
        </div>
    </section>
</div>