<div class="wallet-view" ng-controller="SendPerformController as ctrl">
    <section class="fullsize centered-content no-top-margin">
        <header>
            <h1>send ether</h1>
        </header>
        <div>
            <img src="images/send/ic_nano_blue.png"/>
            <div class="almost-medium-top-margin regular-text">Confirm transaction</div>
            <div class="very-small-top-margin regular-grey-text-small centered-text regular-line-height">
                Review displayed information on your Ledger device<br/>
                and confirm the transaction to continue.
            </div>
        </div>
    </section>
</div>