<div class="wallet-view scrollable" ng-controller="AccountController as ctrl">
    <!-- Balance section -->
    <section>
        <header>
            <h1 translate>account.default_name</h1>
        </header>
        <table>
            <thead>
            <tr>
                <td class="stretch-content" style="padding-bottom: 14px;" translate>wallet.balance</td>
            </tr>
            </thead>
            <tbody>
            <tr class="no-border">
                <td id="balanceRow"><amount value="ctrl.balance" type="balance"></amount></td>
            </tr>
            </tbody>
        </table>
    </section>

    <!--- Operations section -->
    <section>
        <header>
            <h1 translate>wallet.last_operations</h1>
        </header>
        <table>
            <thead>
            <tr>
                <td class="fit-content" translate>wallet.date_and_time</td>
                <td class="fit-content align-right" translate>wallet.amount</td>
            </tr>
            </thead>
            <tbody>
            <tr class="fit-content" ng-click="ctrl.openTransactionDetails(operation.hash)" ng-class="{'no-border': $last}" ng-repeat="operation in ctrl.operations">
                <td class="regular-grey-text" style="padding-right: 0px">{{operation.date | date: 'standard'}}</td>
                <td class="align-right"><amount value="operation.amount" type="operation"></amount></td>
            </tr>
            </tbody>
        </table>
        <div ng-hide="ctrl.hideLoader" id="loadMore" class="full-width centered-text light-grey-text-almost-small" translate>account.load_more</div>
    </section>
    <div ng-hide="ctrl.operations.length > 0" class="spacer vertically-centered-text light-grey-text-almost-small" translate>
        account.no_operation
    </div>
</div>