<div class="wallet-view scrollable" ng-controller="AccountController as ctrl">
    <!-- Balance section -->
    <section>
        <header>
            <h1>my account</h1>
        </header>
        <table>
            <thead>
            <tr>
                <td class="stretch-content">balance</td>
                <td class="align-right">sync</td>
            </tr>
            </thead>
            <tbody>
            <tr class="no-border">
                <td id="balanceRow"><span class="bold-ultra-large-text">{{ctrl.balance}}</span> <span class="light-ultra-large-text">Ether</span></td>
                <td class="align-right"><refreshbutton running="{{ctrl.isRefreshing}}" ng-click="ctrl.refresh()"></refreshbutton></td>
            </tr>
            </tbody>
        </table>
    </section>

    <!--- Operations section -->
    <section>
        <header>
            <h1>last operations</h1>
        </header>
        <table>
            <thead>
            <tr>
                <td class="fit-content">date & time</td>
                <td class="fit-content align-right">amount</td>
            </tr>
            </thead>
            <tbody>
            <tr class="fit-content" ng-class="{'no-border': $last}" ng-repeat="operation in ctrl.operations">
                <td class="regular-grey-text">{{operation.date}}</td>
                <td ng-class="{'regular-valid-text': !operation.isSend, 'regular-invalid-text': operation.isSend}" class="align-right">{{operation.amount}}</td>
            </tr>
            </tbody>
        </table>
        <div id="loadMore"></div>
    </section>
</div>