<div class="wallet-view" ng-controller="HelpController as ctrl">
    <section class="help-section">
        <header>
            <h1 translate>help.page_title</h1>
        </header>
        <table>
            <thead>
            <tr>
                <td class="stretch-content" translate>help.get_assistance</td>
            </tr>
            </thead>
            <tbody>
                <tr class="no-border">
                    <td style="padding-bottom: 0px; padding-top: 14px;">
                        <div class="sections-container">
                            <a class="panel" ng-click="ctrl.browseKnowledgeBase()">
                                <div class="icon"><i class="fa fa-support"></i></div>
                                <div class="content">
                                    <div class="uppercase-action" translate>help.browse_knowledge_base</div>
                                    <div class="regular-soft-grey-text-small" translate>help.for_immediate_self_help</div>
                                </div>
                                <div class="arrow"><i class="fa fa-angle-right"></i></div>
                            </a>
                            <a class="panel" ng-click="ctrl.contactSupport()">
                                <div class="icon"><i class="fa fa-comments"></i></div>
                                <div class="content">
                                    <div class="uppercase-action" translate>help.contact_support_team</div>
                                    <div class="regular-soft-grey-text-small" translate>help.fast_and_furious</div>
                                </div>
                                <div class="arrow"><i class="fa fa-angle-right"></i></div>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
            <tr>
                <td class="stretch-content" style="padding-top: 50px;">diagnostic</td>
                <td class="fit-content"><a ng-click="ctrl.exportLogs()" class="uppercase-action"><i class="fa fa-external-link-square" aria-hidden="true"></i><span translate>help.export_logs</span></a></td>
            </tr>
            </thead>
        </table>
        <div class="centered-text regular-soft-grey-text-small regular-line-height extra-small-top-margin" translate>
            help.logs_disclaimer
        </div>
    </section>
</div>