<div class="wallet-view" ng-controller="ReceiveController as ctrl">
    <!-- Balance section -->
    <section class="fullsize centered-content">
        <header>
            <h1 translate>receive.page_title</h1>
        </header>
        <div>
            <qrcodeviewer value="ctrl.uri"></qrcodeviewer>
            <div class="almost-medium-top-margin regular-text"><b class="uppercase-section-column">IBAN</b> &nbsp;&nbsp;<span class="selectable">{{ctrl.iban}}</span></div>
            <div class="almost-small-top-margin regular-text selectable">{{ctrl.address}}</div>
            <div class="almost-small-top-margin light-grey-text-almost-small" translate>receive.share_qr_code</div>
        </div>
        <actions-bottom-bar class="no-print">
            <lbutton text="{{ 'receive.send_by_email' | translate}}" ng-click="ctrl.sendEmail(ctrl.address)" type="cancel" disabled="false"></lbutton>
            <lbutton text="{{ 'receive.print' | translate}}" ng-click="ctrl.print(ctrl.address)" type="validate" disabled="false"></lbutton>
        </actions-bottom-bar>
    </section>
</div>