<div class="wallet-view" ng-controller="ReceiveController as ctrl">
    <!-- Balance section -->
    <section class="fullsize centered-content">
        <header>
            <h1 translate>receive.page_title</h1>
        </header>
        <div>
            <qrcodeviewer value="ctrl.uri"></qrcodeviewer>
            <selector class="medium-top-margin" values="{{ctrl.formats}}" selected="{{ctrl.currentFormat}}" changed="ctrl.onFormatChanged(value)" ></selector>
            <div ng-show="ctrl.showIban" class="small-top-margin regular-text"><span class="selectable">{{ctrl.iban}}</span></div>
            <div ng-show="ctrl.showHex" class="small-top-margin regular-text selectable">{{ctrl.address}}</div>
            <div class="almost-small-top-margin regular-grey-text-small" translate>receive.share_qr_code</div>
        </div>
        <actions-bottom-bar class="no-print">
            <lbutton text="{{ 'receive.send_by_email' | translate}}" ng-click="ctrl.sendEmail(ctrl.address)" type="cancel" disabled="false"></lbutton>
            <lbutton text="{{ 'receive.print' | translate}}" ng-click="ctrl.print(ctrl.address)" type="validate" disabled="false"></lbutton>
        </actions-bottom-bar>
    </section>
</div>