<div class="onboarding-view">
    <div class="onboarding-container" ng-controller="DownloadController as ctrl">
        <header>
            <img src="images/onboarding/ic_logo.png" />
        </header>
        <section>
            <img src="images/common/ic_update.png" />
            <div class="light-very-large-text almost-medium-top-margin" translate>download.title</div>
            <div class="light-grey-text-almost-small almost-small-top-margin" style="text-align: center; line-height: 20px" translate>download.message</div>

            <div class="spacer" style="margin-top:25px"</div>
            <div>
                <lbutton text="{{'download.skip' | translate}}" type="cancel" disabled="false" ng-click="ctrl.skip()" style="margin-right:10px";></lbutton> <lbutton text="{{'download.install' | translate}}" type="validate" disabled="false" ng-click="ctrl.accept()"></lbutton>
            </div>

        </section>
        <div class="footers-container">
            <footer id="plugFooter">
            </footer>
        </div>
    </div>
</div>