<div class="onboarding-view" ng-controller="LaunchController as ctrl">
    <header>
        <img src="images/onboarding/ic_logo.png" />
    </header>
    <section>
        <img src="images/opening/ic_computer.png" />
        <div class="light-large-text almost-medium-top-margin">To begin, plug your Ledger device.</div>
        <div class="regular-soft-grey-text-small almost-small-top-margin">If asked, enter your PIN code. Then, open the Ethereum app.</div>
    </section>
    <div class="footers-container">
        <footer id="introFooter" class="large"></footer>
        <footer id="plugFooter" ng-click="ctrl.openHelpCenter()"><a>Need assistance ? Contact Ledger support team.</a></footer>
    </div>
</div>