<div class="onboarding-view">
    <div class="onboarding-container" ng-controller="LaunchController as ctrl" controller-mode="default">
        <header>
            <img src="images/onboarding/ic_logo.png" />
        </header>
        <section>
            <img src="images/opening/ic_computer.png" />
            <div class="light-very-large-text almost-medium-top-margin" translate>launch.to_begin</div>
            <div class="light-grey-text-almost-small almost-small-top-margin" translate>launch.unlock_and_open_app</div>
        </section>
        <div class="footers-container">
            <footer id="introFooter" class="large"></footer>
            <footer id="plugFooter">
                <a ng-click="ctrl.openHelpCenter()" translate>onboarding.help_center</a>
                <div id="chain_selector_area">
                    <span translate>launch.ethereum_chain</span>
                    <selector values="{{ctrl.chains}}" selected="{{ctrl.currentChain}}" changed="ctrl.onChainChanged(value)" ></selector>
                </div>
            </footer>

        </div>
    </div>
</div>