<div class="onboarding-view">
    <div class="onboarding-container" ng-controller="LaunchController as ctrl" controller-mode="default">
        <header>
            <img src="images/onboarding/ic_logo.png" />
        </header>
        <section>
            <img src="images/opening/ic_computer.png" />
            <div class="light-very-large-text almost-medium-top-margin" translate>launch.to_begin_1</div>
            <div class="light-grey-text-almost-small almost-small-top-margin" translate>launch.unlock_and_open_app</div>
        </section>
        <div class="footers-container">
            <footer id="plugFooter" ng-click="ctrl.openHelpCenter()"><a translate>onboarding.help_center</a></footer>
        </div>
    </div>
</div>