<div class="onboarding-view" ng-controller="OpeningController as ctrl">
    <header>
        <img src="images/onboarding/ic_logo.png" />
    </header>
    <section>
        <spinner></spinner>
        <div class="light-large-text almost-medium-top-margin">Opening your wallet...</div>
        <div class="regular-soft-grey-text-small almost-small-top-margin">Please wait, this operation may take a few moments.</div>
    </section>
    <div class="footers-container">
        <footer>Version 1.0.0 - Contact support team</footer>
    </div>
</div>