<div class="onboarding-view">
    <div class="onboarding-container" ng-controller="UpdateController as ctrl">
        <header>
            <img src="images/onboarding/ic_logo.png" />
        </header>
        <section>
            <div class="light-very-large-text almost-medium-top-margin" translate>update.title</div>
            <div class="light-grey-text-almost-small almost-small-top-margin" style="line-height: 25px;text-align: center;margin-top: 6px" translate>update.message</div>
            <lbutton text="{{'update.accept' | translate}}" type="validate" disabled="false" ng-click="ctrl.accept()"></lbutton>

        </section>
        <div class="footers-container">
            <footer id="plugFooter">
                <lbutton text="{{'common.help_center' | translate}}" type="cancel" ng-click="ctrl.openHelpCenter()"></lbutton>
            </footer>
        </div>
    </div>
</div>